.logo-circle {
    width: 40px;
    height: 40px;
    background: #00a650;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}
.fw{
    color: #00a650;
}

.nav-link {
    color: #6c757d;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link.active{
     color: #00a650 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #00a650;
}

.carrito:hover{
    color: #00a650;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #00a650;
    color: white;
    font-size: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}