.custom-btn{
     width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.custom-btn img{
    max-width: 280px;
    height: auto;
    object-fit: contain;
    margin-bottom: 5px;
}

.custom-btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.header-turno{
    background-color: #28a745;
    color: white;
    padding: 70px 0;
    margin-bottom: 0px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    margin: 0;

}

.header-turno h1 {
    margin: 0;
}

body {
    margin: 0;
}

